# Time Series Data Preprocessing using Large Language Model (LLM)

In [1]:
#---- Import pandas ----
import pandas as pd
#Load the dataset (Hospital_patients_datasets.csv) and assign it to a variable 'df'.
df = pd.read_csv('/Users/nimikaringada/Downloads/Hospital_patients_datasets.csv')

#Inspect Data
df

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589980e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262960e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679510e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841190e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2.572130e+12,5651768,F,2016-05-03T09:15:35Z,2016-06-07T00:00:00Z,56,MARIA ORTIZ,0,0,0,0,0,1,No
110523,3.596270e+12,5650093,F,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,51,MARIA ORTIZ,0,0,0,0,0,1,No
110524,1.557660e+13,5630692,F,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,21,MARIA ORTIZ,0,0,0,0,0,1,No
110525,9.213490e+13,5630323,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,38,MARIA ORTIZ,0,0,0,0,0,1,No
110526,3.775120e+14,5629448,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,54,MARIA ORTIZ,0,0,0,0,0,1,No

In [2]:
pip install langchain langchain_experimental openai tabulate

Requirement already satisfied: langchain in ./opt/anaconda3/lib/python3.9/site-packages (0.2.11)
Collecting langchain_experimental
  Downloading langchain_experimental-0.0.63-py3-none-any.whl (203 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 203 kB 1.4 MB/s eta 0:00:01
Collecting openai
  Downloading openai-1.37.1-py3-none-any.whl (337 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 337 kB 5.8 MB/s eta 0:00:01
Collecting tabulate
  Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Requirement already satisfied: langsmith<0.2.0,>=0.1.17 in ./opt/anaconda3/lib/python3.9/site-packages (from langchain) (0.1.93)
Requirement already satisfied: SQLAlchemy<3,>=1.4 in ./opt/anaconda3/lib/python3.9/site-packages (from langchain) (1.4.22)
Requirement already satisfied: PyYAML>=5.3 in ./opt/anaconda3/lib/python3.9/site-packages (from langchain) (6.0)
Requirement already satisfied: langchain-text-splitters<0.3.0,>=0.2.0 in ./opt/anaconda3/lib/python3.9/site-packages (from langchain) (0.2.2)
Requirement already satisfied: requests<3,>=2 in ./opt/anaconda3/lib/python3.9/site-packages (from langchain) (2.26.0)
Requirement already satisfied: async-timeout<5.0.0,>=4.0.0 in ./opt/anaconda3/lib/python3.9/site-packages (from langchain) (4.0.3)
Requirement already satisfied: pydantic<3,>=1 in ./opt/anaconda3/lib/python3.9/site-packages (from langchain) (2.8.2)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.3 in ./opt/anaconda3/lib/python3.9/site-packages (from langchain) (3.9.5)
Requirement already satisfied: numpy<2,>=1 in ./opt/anaconda3/lib/python3.9/site-packages (from langchain) (1.22.4)
Requirement already satisfied: langchain-core<0.3.0,>=0.2.23 in ./opt/anaconda3/lib/python3.9/site-packages (from langchain) (0.2.23)
Requirement already satisfied: tenacity!=8.4.0,<9.0.0,>=8.1.0 in ./opt/anaconda3/lib/python3.9/site-packages (from langchain) (8.2.2)
Requirement already satisfied: langchain-community<0.3.0,>=0.2.6 in ./opt/anaconda3/lib/python3.9/site-packages (from langchain_experimental) (0.2.10)
Requirement already satisfied: typing-extensions<5,>=4.7 in ./opt/anaconda3/lib/python3.9/site-packages (from openai) (4.12.2)
Requirement already satisfied: tqdm>4 in ./opt/anaconda3/lib/python3.9/site-packages (from openai) (4.62.3)
Collecting distro<2,>=1.7.0
  Downloading distro-1.9.0-py3-none-any.whl (20 kB)
Collecting httpx<1,>=0.23.0
  Downloading httpx-0.27.0-py3-none-any.whl (75 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 75 kB 3.9 MB/s eta 0:00:01
Collecting anyio<5,>=3.5.0
  Downloading anyio-4.4.0-py3-none-any.whl (86 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 86 kB 4.0 MB/s eta 0:00:01
Requirement already satisfied: sniffio in ./opt/anaconda3/lib/python3.9/site-packages (from openai) (1.2.0)
Requirement already satisfied: attrs>=17.3.0 in ./opt/anaconda3/lib/python3.9/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (21.2.0)
Requirement already satisfied: aiosignal>=1.1.2 in ./opt/anaconda3/lib/python3.9/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.3.1)
Requirement already satisfied: yarl<2.0,>=1.0 in ./opt/anaconda3/lib/python3.9/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.9.4)
Requirement already satisfied: multidict<7.0,>=4.5 in ./opt/anaconda3/lib/python3.9/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (6.0.5)
Requirement already satisfied: frozenlist>=1.1.1 in ./opt/anaconda3/lib/python3.9/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.4.1)
Requirement already satisfied: idna>=2.8 in ./opt/anaconda3/lib/python3.9/site-packages (from anyio<5,>=3.5.0->openai) (3.2)
Collecting exceptiongroup>=1.0.2
  Downloading exceptiongroup-1.2.2-py3-none-any.whl (16 kB)
Requirement already satisfied: certifi in ./opt/anaconda3/lib/python3.9/site-packages (from httpx<1,>=0.23.0->openai) (2021.10.8)
Collecting httpcore==1.*
  Downloading httpcore-1.0.5-py3-none-any.whl (77 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 77 kB 3.8 MB/s eta 0:00:01
Collecting h11<0.15,>=0.13
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 58 kB 6.2 MB/s eta 0:00:011
Requirement already satisfied: dataclasses-json<0.7,>=0.5.7 in ./opt/anaconda3/lib/python3.9/site-packages (from langchain-community<0.3.0,>=0.2.6->langchain_experimental) (0.6.7)
Requirement already satisfied: marshmallow<4.0.0,>=3.18.0 in ./opt/anaconda3/lib/python3.9/site-packages (from dataclasses-json<0.7,>=0.5.7->langchain-community<0.3.0,>=0.2.6->langchain_experimental) (3.21.3)
Requirement already satisfied: typing-inspect<1,>=0.4.0 in ./opt/anaconda3/lib/python3.9/site-packages (from dataclasses-json<0.7,>=0.5.7->langchain-community<0.3.0,>=0.2.6->langchain_experimental) (0.9.0)
Requirement already satisfied: jsonpatch<2.0,>=1.33 in ./opt/anaconda3/lib/python3.9/site-packages (from langchain-core<0.3.0,>=0.2.23->langchain) (1.33)
Requirement already satisfied: packaging<25,>=23.2 in ./opt/anaconda3/lib/python3.9/site-packages (from langchain-core<0.3.0,>=0.2.23->langchain) (24.1)
Requirement already satisfied: jsonpointer>=1.9 in ./opt/anaconda3/lib/python3.9/site-packages (from jsonpatch<2.0,>=1.33->langchain-core<0.3.0,>=0.2.23->langchain) (3.0.0)
Requirement already satisfied: orjson<4.0.0,>=3.9.14 in ./opt/anaconda3/lib/python3.9/site-packages (from langsmith<0.2.0,>=0.1.17->langchain) (3.10.6)
Requirement already satisfied: annotated-types>=0.4.0 in ./opt/anaconda3/lib/python3.9/site-packages (from pydantic<3,>=1->langchain) (0.7.0)
Requirement already satisfied: pydantic-core==2.20.1 in ./opt/anaconda3/lib/python3.9/site-packages (from pydantic<3,>=1->langchain) (2.20.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2->langchain) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in ./opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2->langchain) (2.0.4)
Requirement already satisfied: greenlet!=0.4.17 in ./opt/anaconda3/lib/python3.9/site-packages (from SQLAlchemy<3,>=1.4->langchain) (1.1.1)
Requirement already satisfied: mypy-extensions>=0.3.0 in ./opt/anaconda3/lib/python3.9/site-packages (from typing-inspect<1,>=0.4.0->dataclasses-json<0.7,>=0.5.7->langchain-community<0.3.0,>=0.2.6->langchain_experimental) (0.4.3)
Installing collected packages: h11, exceptiongroup, httpcore, anyio, httpx, distro, tabulate, openai, langchain-experimental
  Attempting uninstall: anyio
    Found existing installation: anyio 2.2.0
    Uninstalling anyio-2.2.0:
      Successfully uninstalled anyio-2.2.0
Successfully installed anyio-4.4.0 distro-1.9.0 exceptiongroup-1.2.2 h11-0.14.0 httpcore-1.0.5 httpx-0.27.0 langchain-experimental-0.0.63 openai-1.37.1 tabulate-0.9.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
import os
import pandas as pd
from langchain_experimental.agents.agent_toolkits import create_pandas_dataframe_agent
from langchain.llms import OpenAI

#Setup the api key
os.environ['OPENAI_API_KEY']="your-api-key"

df = pd.read_csv('/Users/nimikaringada/Downloads/Hospital_patients_datasets.csv')
df['ScheduledDay'] = pd.to_datetime(df['ScheduledDay']).dt.date
df['AppointmentDay'] = pd.to_datetime(df['AppointmentDay']).dt.date

# Initializing the agent
#agent = create_pandas_dataframe_agent(OpenAI(temperature=0),df, verbose=True, allow_dangerous_code=True)
agent = create_pandas_dataframe_agent(OpenAI(temperature=0), df, verbose=True, allow_dangerous_code=True)

# write your prompt using the agent

# Export the cleaned dataframe 'df' with the name 'cleaned1.csv' using the parameter index=False.
df.to_csv('cleaned1.csv', index=False)

/Users/nimikaringada/opt/anaconda3/lib/python3.9/site-packages/langchain_core/_api/deprecation.py:139: LangChainDeprecationWarning: The class `OpenAI` was deprecated in LangChain 0.0.10 and will be removed in 0.3.0. An updated version of the class exists in the langchain-openai package and should be used instead. To use it run `pip install -U langchain-openai` and import as `from langchain_openai import OpenAI`.
  warn_deprecated(

In [6]:
# write your prompt using the agent
import os
import pandas as pd

# Setup the API key
os.environ['OPENAI_API_KEY'] = "your-api-key"

# Read the CSV file into a DataFrame
df = pd.read_csv('/Users/nimikaringada/Downloads/Hospital_patients_datasets.csv')

# Convert 'ScheduledDay' and 'AppointmentDay' columns to datetime objects, focusing only on the date part
df['ScheduledDay'] = pd.to_datetime(df['ScheduledDay']).dt.date
df['AppointmentDay'] = pd.to_datetime(df['AppointmentDay']).dt.date

# Rename columns
df.rename(columns={
    'Hipertension': 'Hypertension',
    'Handcap': 'Handicap',
    'SMS_received': 'SMSReceived',
    'No-show': 'NoShow'
}, inplace=True)

# Export the cleaned DataFrame
df.to_csv('cleaned2.csv', index=False)
df

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSReceived,NoShow
0,2.987250e+13,5642903,F,2016-04-29,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589980e+14,5642503,M,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262960e+12,5642549,F,2016-04-29,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679510e+11,5642828,F,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841190e+12,5642494,F,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2.572130e+12,5651768,F,2016-05-03,2016-06-07,56,MARIA ORTIZ,0,0,0,0,0,1,No
110523,3.596270e+12,5650093,F,2016-05-03,2016-06-07,51,MARIA ORTIZ,0,0,0,0,0,1,No
110524,1.557660e+13,5630692,F,2016-04-27,2016-06-07,21,MARIA ORTIZ,0,0,0,0,0,1,No
110525,9.213490e+13,5630323,F,2016-04-27,2016-06-07,38,MARIA ORTIZ,0,0,0,0,0,1,No
110526,3.775120e+14,5629448,F,2016-04-27,2016-06-07,54,MARIA ORTIZ,0,0,0,0,0,1,No

In [10]:
# write your prompt using the agent
import os
import pandas as pd

# Setup the API key
os.environ['OPENAI_API_KEY'] = "your-api-key"

# Read the CSV file into a DataFrame
df = pd.read_csv('/Users/nimikaringada/Downloads/Hospital_patients_datasets.csv')

# Convert 'ScheduledDay' and 'AppointmentDay' columns to datetime objects, focusing only on the date part
df['ScheduledDay'] = pd.to_datetime(df['ScheduledDay']).dt.date
df['AppointmentDay'] = pd.to_datetime(df['AppointmentDay']).dt.date

# Rename columns
df.rename(columns={
    'Hipertension': 'Hypertension',
    'Handcap': 'Handicap',
    'SMS_received': 'SMSReceived',
    'No-show': 'NoShow'
}, inplace=True)

# Drop columns
df.drop(columns=['PatientId', 'AppointmentID', 'Neighbourhood'], inplace=True)

# Export the cleaned DataFrame
df.to_csv('cleaned3.csv', index=False)
df

,Gender,ScheduledDay,AppointmentDay,Age,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSReceived,NoShow
0,F,2016-04-29,2016-04-29,62,0,1,0,0,0,0,No
1,M,2016-04-29,2016-04-29,56,0,0,0,0,0,0,No
2,F,2016-04-29,2016-04-29,62,0,0,0,0,0,0,No
3,F,2016-04-29,2016-04-29,8,0,0,0,0,0,0,No
4,F,2016-04-29,2016-04-29,56,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...
110522,F,2016-05-03,2016-06-07,56,0,0,0,0,0,1,No
110523,F,2016-05-03,2016-06-07,51,0,0,0,0,0,1,No
110524,F,2016-04-27,2016-06-07,21,0,0,0,0,0,1,No
110525,F,2016-04-27,2016-06-07,38,0,0,0,0,0,1,No
110526,F,2016-04-27,2016-06-07,54,0,0,0,0,0,1,No

In [12]:
# write your prompt using the agent
import os
import pandas as pd

# Setup the API key
os.environ['OPENAI_API_KEY'] = "your-api-key"

# Read the CSV file into a DataFrame
df = pd.read_csv('/Users/nimikaringada/Downloads/Hospital_patients_datasets.csv')

# Convert 'ScheduledDay' and 'AppointmentDay' columns to datetime objects, focusing only on the date part
df['ScheduledDay'] = pd.to_datetime(df['ScheduledDay']).dt.date
df['AppointmentDay'] = pd.to_datetime(df['AppointmentDay']).dt.date

# Rename columns
df.rename(columns={
    'Hipertension': 'Hypertension',
    'Handcap': 'Handicap',
    'SMS_received': 'SMSReceived',
    'No-show': 'NoShow'
}, inplace=True)

# Drop columns
df.drop(columns=['PatientId', 'AppointmentID', 'Neighbourhood'], inplace=True)

# Remove rows where 'Age' equals 0
df = df[df['Age'] != 0]

# Create 'Age_group' column by categorizing ages into bins of 20 years
df['Age_group'] = pd.cut(df['Age'], bins=[0, 20, 40, 60, 80, 100], labels=['0-20', '21-40', '41-60', '61-80', '81-100'])

# Export the cleaned DataFrame
df.to_csv('cleaned4.csv', index=False)

df

,Gender,ScheduledDay,AppointmentDay,Age,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSReceived,NoShow,Age_group
0,F,2016-04-29,2016-04-29,62,0,1,0,0,0,0,No,61-80
1,M,2016-04-29,2016-04-29,56,0,0,0,0,0,0,No,41-60
2,F,2016-04-29,2016-04-29,62,0,0,0,0,0,0,No,61-80
3,F,2016-04-29,2016-04-29,8,0,0,0,0,0,0,No,0-20
4,F,2016-04-29,2016-04-29,56,0,1,1,0,0,0,No,41-60
...,...,...,...,...,...,...,...,...,...,...,...,...
110522,F,2016-05-03,2016-06-07,56,0,0,0,0,0,1,No,41-60
110523,F,2016-05-03,2016-06-07,51,0,0,0,0,0,1,No,41-60
110524,F,2016-04-27,2016-06-07,21,0,0,0,0,0,1,No,21-40
110525,F,2016-04-27,2016-06-07,38,0,0,0,0,0,1,No,21-40
110526,F,2016-04-27,2016-06-07,54,0,0,0,0,0,1,No,41-60

In [13]:
# write your prompt using the agent
import os
import pandas as pd

# Setup the API key
os.environ['OPENAI_API_KEY'] = "your-api-key"

# Read the CSV file into a DataFrame
df = pd.read_csv('/Users/nimikaringada/Downloads/Hospital_patients_datasets.csv')

# Convert 'ScheduledDay' and 'AppointmentDay' columns to datetime objects, focusing only on the date part
df['ScheduledDay'] = pd.to_datetime(df['ScheduledDay']).dt.date
df['AppointmentDay'] = pd.to_datetime(df['AppointmentDay']).dt.date

# Rename columns
df.rename(columns={
    'Hipertension': 'Hypertension',
    'Handcap': 'Handicap',
    'SMS_received': 'SMSReceived',
    'No-show': 'NoShow'
}, inplace=True)

# Drop columns
df.drop(columns=['PatientId', 'AppointmentID', 'Neighbourhood'], inplace=True)

# Remove rows where 'Age' equals 0
df = df[df['Age'] != 0]

# Create 'Age_group' column by categorizing ages into bins of 20 years
df['Age_group'] = pd.cut(df['Age'], bins=[0, 20, 40, 60, 80, 100], labels=['0-20', '21-40', '41-60', '61-80', '81-100'])

# Drop the 'Age' column
df.drop(columns=['Age'], inplace=True)

# Export the cleaned DataFrame
df.to_csv('cleaned5.csv', index=False)
df

,Gender,ScheduledDay,AppointmentDay,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSReceived,NoShow,Age_group
0,F,2016-04-29,2016-04-29,0,1,0,0,0,0,No,61-80
1,M,2016-04-29,2016-04-29,0,0,0,0,0,0,No,41-60
2,F,2016-04-29,2016-04-29,0,0,0,0,0,0,No,61-80
3,F,2016-04-29,2016-04-29,0,0,0,0,0,0,No,0-20
4,F,2016-04-29,2016-04-29,0,1,1,0,0,0,No,41-60
...,...,...,...,...,...,...,...,...,...,...,...
110522,F,2016-05-03,2016-06-07,0,0,0,0,0,1,No,41-60
110523,F,2016-05-03,2016-06-07,0,0,0,0,0,1,No,41-60
110524,F,2016-04-27,2016-06-07,0,0,0,0,0,1,No,21-40
110525,F,2016-04-27,2016-06-07,0,0,0,0,0,1,No,21-40
110526,F,2016-04-27,2016-06-07,0,0,0,0,0,1,No,41-60

In [14]:
# write your prompt using the agent
import os
import pandas as pd
import numpy as np

# Setup the API key
os.environ['OPENAI_API_KEY'] = "your-api-key"

# Read the CSV file into a DataFrame
df = pd.read_csv('/Users/nimikaringada/Downloads/Hospital_patients_datasets.csv')

# Convert 'ScheduledDay' and 'AppointmentDay' columns to datetime objects, focusing only on the date part
df['ScheduledDay'] = pd.to_datetime(df['ScheduledDay']).dt.date
df['AppointmentDay'] = pd.to_datetime(df['AppointmentDay']).dt.date

# Rename columns
df.rename(columns={
    'Hipertension': 'Hypertension',
    'Handcap': 'Handicap',
    'SMS_received': 'SMSReceived',
    'No-show': 'NoShow'
}, inplace=True)

# Drop columns
df.drop(columns=['PatientId', 'AppointmentID', 'Neighbourhood'], inplace=True)

# Remove rows where 'Age' equals 0
df = df[df['Age'] != 0]

# Create 'Age_group' column by categorizing ages into bins of 20 years
df['Age_group'] = pd.cut(df['Age'], bins=[0, 20, 40, 60, 80, 100], labels=['0-20', '21-40', '41-60', '61-80', '81-100'])

# Drop the 'Age' column
df.drop(columns=['Age'], inplace=True)

# Convert 'NoShow' column to binary values: 1 for 'Yes' and 0 for other values
df['NoShow'] = np.where(df['NoShow'] == 'Yes', 1, 0)

# Export the cleaned DataFrame
df.to_csv('cleaned6.csv', index=False)
df

,Gender,ScheduledDay,AppointmentDay,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSReceived,NoShow,Age_group
0,F,2016-04-29,2016-04-29,0,1,0,0,0,0,0,61-80
1,M,2016-04-29,2016-04-29,0,0,0,0,0,0,0,41-60
2,F,2016-04-29,2016-04-29,0,0,0,0,0,0,0,61-80
3,F,2016-04-29,2016-04-29,0,0,0,0,0,0,0,0-20
4,F,2016-04-29,2016-04-29,0,1,1,0,0,0,0,41-60
...,...,...,...,...,...,...,...,...,...,...,...
110522,F,2016-05-03,2016-06-07,0,0,0,0,0,1,0,41-60
110523,F,2016-05-03,2016-06-07,0,0,0,0,0,1,0,41-60
110524,F,2016-04-27,2016-06-07,0,0,0,0,0,1,0,21-40
110525,F,2016-04-27,2016-06-07,0,0,0,0,0,1,0,21-40
110526,F,2016-04-27,2016-06-07,0,0,0,0,0,1,0,41-60